Bss_ProcesarPago/Resources/ValidarPolizaNaturalDano.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ValidarPolizaNaturalDano">RestReference</doc>
   <resources>
      <resource path="/ServNatural/Polizas/ValidarNaturalDano">
         <method name="GET" soa:name="ValidarPolizaNaturalDano">
            <request>
               <param name="buscarpor" style="query" type="xsd:string"/>
               <param name="valor" style="query" type="xsd:string"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
