Dat_AplicarPagoInsis/Resources/wsdl/AplicacionPagosPort_1.wsdl

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><wsdl:definitions name="AplicacionPagosService" targetNamespace="http://www.ctinsuretech.com/SURA/PA/INSIS/BLC/custom/AplicacionPagosService/" xmlns:tns="http://www.ctinsuretech.com/SURA/PA/INSIS/BLC/custom/AplicacionPagosService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.ctinsuretech.com/SURA/PA/INSIS/BLC/custom/AplicacionPagosService/definitions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.ctinsuretech.com/SURA/PA/INSIS/BLC/custom/AplicacionPagosService/definitions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:include schemaLocation="AplicacionPagosPort.xsd"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="aplicarPagoPrimaRqMsg">
    <wsdl:part name="request" element="xsd:AplicarPagoPrimaRq"/>
  </wsdl:message>
  <wsdl:message name="aplicarPagoPrimaRsMsg">
    <wsdl:part name="response" element="xsd:AplicarPagoPrimaRs"/>
  </wsdl:message>
  <wsdl:message name="aplicarPagoSalvamentoRqMsg">
    <wsdl:part name="request" element="xsd:AplicarPagoSalvamentoRq"/>
  </wsdl:message>
  <wsdl:message name="aplicarPagoSalvamentoRsMsg">
    <wsdl:part name="response" element="xsd:AplicarPagoSalvamentoRs"/>
  </wsdl:message>
  <wsdl:message name="aplicarPagoRecobroRqMsg">
    <wsdl:part name="request" element="xsd:AplicarPagoRecobroRq"/>
  </wsdl:message>
  <wsdl:message name="aplicarPagoRecobroRsMsg">
    <wsdl:part name="response" element="xsd:AplicarPagoRecobroRs"/>
  </wsdl:message>
  <wsdl:message name="aplicarPagoDeducibleRqMsg">
    <wsdl:part name="request" element="xsd:AplicarPagoDeducibleRq"/>
  </wsdl:message>
  <wsdl:message name="aplicarPagoDeducibleRsMsg">
    <wsdl:part name="response" element="xsd:AplicarPagoDeducibleRs"/>
  </wsdl:message>
  <wsdl:portType name="AplicacionPagosPortType">
    <wsdl:operation name="aplicarPagoPrima">
      <wsdl:input message="tns:aplicarPagoPrimaRqMsg"/>
      <wsdl:output message="tns:aplicarPagoPrimaRsMsg"/>
    </wsdl:operation>
    <wsdl:operation name="aplicarPagoSalvamento">
      <wsdl:input message="tns:aplicarPagoSalvamentoRqMsg"/>
      <wsdl:output message="tns:aplicarPagoSalvamentoRsMsg"/>
    </wsdl:operation>
    <wsdl:operation name="aplicarPagoRecobro">
      <wsdl:input message="tns:aplicarPagoRecobroRqMsg"/>
      <wsdl:output message="tns:aplicarPagoRecobroRsMsg"/>
    </wsdl:operation>
    <wsdl:operation name="aplicarPagoDeducible">
      <wsdl:input message="tns:aplicarPagoDeducibleRqMsg"/>
      <wsdl:output message="tns:aplicarPagoDeducibleRsMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AplicacionPagosBinding" type="tns:AplicacionPagosPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="aplicarPagoPrima">
      <soap:operation soapAction="aplicarPagoPrima"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aplicarPagoSalvamento">
      <soap:operation soapAction="aplicarPagoSalvamento"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aplicarPagoRecobro">
      <soap:operation soapAction="aplicarPagoRecobro"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aplicarPagoDeducible">
      <soap:operation soapAction="aplicarPagoDeducible"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AplicacionPagosService">
    <wsdl:port name="AplicacionPagosPort" binding="tns:AplicacionPagosBinding">
      <soap:address location="https://ws.pa.sura.sit.ctplc.ltd:9074/AplicacionPagosService/AplicacionPagosPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>