Dat_GestionarNotaCoberturaVida/Resources/Restadapter/GenerarNotaCobertura.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="GenerarNotaCobertura">RestReference</doc>
   <resources>
      <resource path="/api/medicina-conectada/nota-cobertura-vida">
         <method name="GET" soa:name="GenerarNotaCobertura">
            <request>
               <param name="poliza" style="query" type="xsd:string"/>
               <param name="core" style="query" type="xsd:string"/>
               <param name="identificacion" style="query" type="xsd:string"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
