Esquemas/BG_ESB_XML_Esquemas/SURA_OSB_XML_Esquemas/WSDL/xsd/DominioComun/Comun/V1/ComunOENV1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xmlns.sura.com/ObjetoEmpresarial/DominioComun/Comun/V1"
	version="1.0" elementFormDefault="qualified"
	xmlns:dcomcom="http://xmlns.sura.com/ObjetoEmpresarial/DominioComun/Comun/V1">
	<xsd:annotation>
		<xsd:documentation>Esquema donde se definen las entidades genricas.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="EstadoTipo">
		<xsd:annotation>
			<xsd:documentation>Entidad que contiene la informacion basica del
				Estado.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dcomcom:EstadoGeneralTipo">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="CodigoRegistro"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Cdigo del Registro ejecutado.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="EstadosDetalle"
						type="dcomcom:EstadosDetalleTipo" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RegistroTipo">
		<xsd:annotation>
			<xsd:documentation>Entidad que contiene la informacin bsica de un
				registro de auditora y control.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element maxOccurs="1" minOccurs="0" name="CodigoFuncionario"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Identificado nico del funcionario (empleado del
						banco).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="CodigoVerificado"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Identificador nico de verificacin.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="FechaModificacion"
				type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Fecha de la ultima modificacion del registro.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="FechaRegistro"
				type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Fecha de Registro.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="FechaVerificacion"
				type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Fecha de verificacin.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="NombreFuncionario"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Indica el nombre del funcionario.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="RevisarCliente"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Revision de Cliente.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Vigencia"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Vigencia del registro.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="EstadoDetalleTipo">
		<xsd:annotation>
			<xsd:documentation>Entidad que contiene el detalle del estado de la
				ejecucin.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="Codigo"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Cdigo del detalle del estado.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Descripcion"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Descripcin del detalle del estado de la
						respuesta.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EstadoGeneralTipo">
		<xsd:annotation>
			<xsd:documentation>Entidad que contiene el estado resumido de la
				ejecucin de la operacin.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="Status"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Cdigo del estado General.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Descripcion"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Descripcin del estado general de la respuesta.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Componente"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Nombre de la aplicacin.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Severidad"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Severidad general del estado de ejecucin
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="TipoEstado"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Tipo de estado.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CabeceraSolTipo">
		<xsd:annotation>
			<xsd:documentation>Entidad que contiene los datos especficos de
				transaccin para la cabecera de la solicitud.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element maxOccurs="1" minOccurs="1" name="CodigoOperacion"
				type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>
						Codigo Operacion de la Transaccion
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="FechaProcesamiento"
				type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Fecha Procesamiento.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="FechaTransaccion"
				type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Fecha Transaccion de la Operacion
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="IdTransaccionOsb"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Numero de transaccion del bus.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="SistemaDestino"
				type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						Sistema destino de la peticion
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SistemaOrigen" type="xsd:string"
				maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sistema Origen de la peticion.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:element name="CabeceraCanalesSol" type="dcomcom:CabeceraCanalesSolTipo" />
	<xsd:complexType name="CabeceraCanalesSolTipo">
		<xsd:annotation>
			<xsd:documentation>Entidad que contiene los datos especficos de
				transaccin para la cabecera de la solicitud para los canales
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="Aplicacion"
				type="xsd:string" />
			<xsd:element maxOccurs="1" minOccurs="1" name="Canal"
				type="xsd:string" />
			<xsd:element maxOccurs="1" minOccurs="1" name="Fecha"
				type="xsd:dateTime" />
			<xsd:element maxOccurs="1" minOccurs="1" name="Nodo"
				type="xsd:int" />
			<xsd:element maxOccurs="1" minOccurs="0" name="SesionBG"
				type="xsd:string" />
			<xsd:element maxOccurs="1" minOccurs="0" name="DireccionIp"
				type="xsd:string" />
			<xsd:element maxOccurs="1" minOccurs="0" name="OrigenSolicitud"
				type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="EstadosDetalleTipo" type="dcomcom:EstadosDetalleTipo" />
	<xsd:complexType name="EstadosDetalleTipo">
		<xsd:annotation>
			<xsd:documentation>Entidad que contiene el o los detalles del estado
				de la ejecucin.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="EstadoDetalle" type="dcomcom:EstadoDetalleTipo" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CabeceraRespTipo">
		<xsd:annotation>
			<xsd:documentation>Entidad que contiene los datos especficos de
				transaccin para la cabecera de la respuesta.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element maxOccurs="1" minOccurs="1" name="EstadoGeneral"
				type="dcomcom:EstadoGeneralTipo" />
			<xsd:element maxOccurs="1" minOccurs="0" name="EstadosPorRegistro"
				type="dcomcom:EstadosTipo" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="EstadosTipo">
		<xsd:annotation>
			<xsd:documentation>Entidad que contiene el Estado de la ejecucin de
				la operacin.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Estado"
				type="dcomcom:EstadoTipo" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BeneficiarioTipo">
		<xsd:sequence>
			<xsd:element name="Email" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Nombre" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="Alias" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="TipoIdentificacion" type="xsd:string"
				maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Elemento que indica el tipoIdentificacion del
						cliente
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumeroIdentificacion" type="xsd:string"
				maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Elemento que indica el Numero de identificacion
						del cliente.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CatalogoTipo">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="Codigo"
				type="xsd:string" />
			<xsd:element maxOccurs="1" minOccurs="0" name="Descripcion"
				type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>