BPEL/BPELSuraApp/GestionarActividadDocumento/SOA/WSDLs/Exp_CargarDocumentoGADPS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions
     name="CargarDocumentoGAD"
     targetNamespace="http://sura.com.pa/CargarDocumentoGAD/"
     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
     xmlns:WL5G3N1="http://sura.com.pa/CargarDocumentoGAD/"
     xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <WL5G3N0:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://sura.com.pa/CargarDocumentoGAD/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sura.com.pa/CargarDocumentoGAD/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="CargarDocumentoGADFaultMsg">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="code" type="xsd:string"/>
                        <xsd:element name="summary" type="xsd:string"/>
                        <xsd:element name="detail" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CargarDocumentoGADReq">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="CABECERA" type="tns:CABECERA"/>
                        <xsd:element minOccurs="0" name="Documento">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="IdDocumental" type="xsd:string"/>
                                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Adjunto">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="Contenido" type="xsd:string"/>
                                                <xsd:element name="IdFormato" type="xsd:string"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="AtributosRelacion">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="Atributo">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element minOccurs="1" name="Nombre" type="xsd:string"/>
                                                            <xsd:element minOccurs="1" name="Valor"
                                                                 type="xsd:string"/>
                                                            <xsd:element name="Id" type="xsd:string"/>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CargarDocumentoGADResp">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="CABECERA" type="tns:CABECERA"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="STATUS" type="tns:STATUS"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="CABECERA">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CODIGO_OPERACION" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="FECHA_PROCESAMIENTO" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="FECHA_TRANSACCION" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ID_TRANSACCION_OSB" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SISTEMA_DESTINO" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="SISTEMA_ORIGEN" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="STATUS">
                <xsd:sequence>
                    <xsd:element name="CODIGO" type="xsd:string"/>
                    <xsd:element name="DETALLE" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PARAMETRO">
                <xsd:sequence>
                    <xsd:element name="ATRIBUTO" type="xsd:string"/>
                    <xsd:element name="VALOR" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ADJUNTO">
                <xsd:sequence>
                    <xsd:element name="NOMBRE_ARCHIVO" type="xsd:string"/>
                    <xsd:element name="TIPO" type="xsd:string"/>
                    <xsd:element name="ARCHIVO" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="CargarDocumentoGADRequest">
        <WL5G3N0:part name="parameters" element="WL5G3N1:CargarDocumentoGADReq"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="CargarDocumentoGADResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N1:CargarDocumentoGADResp"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="CargarDocumentoGADFault">
        <WL5G3N0:part name="parameters" element="WL5G3N1:CargarDocumentoGADFaultMsg"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="CargarDocumentoGAD">
        <WL5G3N0:operation name="CargarDocumentoGAD">
            <WL5G3N0:input message="WL5G3N1:CargarDocumentoGADRequest"/>
            <WL5G3N0:output message="WL5G3N1:CargarDocumentoGADResponse"/>
            <WL5G3N0:fault name="CargarDocumentoGADFaultMsg" message="WL5G3N1:CargarDocumentoGADFault"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="CargarDocumentoGADSOAP" type="WL5G3N1:CargarDocumentoGAD">
        <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="CargarDocumentoGAD">
            <WL5G3N2:operation soapAction="http://sura.com.pa/CargarDocumentoGAD"/>
            <WL5G3N0:input>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:output>
            <WL5G3N0:fault name="CargarDocumentoGADFaultMsg">
                <WL5G3N2:fault name="CargarDocumentoGADFaultMsg" use="literal"/>
            </WL5G3N0:fault>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="CargarDocumentoGADSOAPQSService">
        <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
        <WL5G3N0:port name="CargarDocumentoGADSOAPQSPort" binding="WL5G3N1:CargarDocumentoGADSOAP">
            <WL5G3N2:address location="http://10.243.13.40:8001/Exp_CargarDocumentoGADPS/ProxyService/Exp_CargarDocumentoGADPS"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>
