Dat_ConsultarReclamoNatural/Resources/Restadapter/ConsultarReclamoNatural.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ConsultarReclamoNatural">RestReference</doc>
   <resources>
      <resource path="/ServNatural/Reclamo/ConsultarNatural">
         <method name="GET" soa:name="ConsultarReclamoNatural">
            <request>
               <param name="POLIZA" style="query" type="xsd:string"/>
               <param name="NUMERO_RECLAMO" style="query" type="xsd:string"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response/>
         </method>
      </resource>
   </resources>
</application>
