BPEL/BPELSuraApp/GestionarActividadDocumento/SOA/Schemas/ActividadParam.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sura.com.pa/ActividadParam/"
            targetNamespace="http://sura.com.pa/ActividadParam/" elementFormDefault="qualified">
   <xsd:element name="ActividadParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string"/>
                        <xsd:element name="nombre" type="xsd:string"/>
                        <xsd:element name="valor" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
</xsd:schema>
