Dat_CrearActividadBPM_V2/Resources/wsdl/OBService_1.wsdl

<wsdl:definitions name="QrService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="OBService.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="OBService_1_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="OBService_1.xsd" namespace="http://schemas.datacontract.org/2004/07/OBService"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_OBDocCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:OBDocCreate"/>
  </wsdl:message>
  <wsdl:message name="IService1_OBDocCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:OBDocCreateResponse"/>
  </wsdl:message>
  <wsdl:message name="IService1_OBDocEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:OBDocEdit"/>
  </wsdl:message>
  <wsdl:message name="IService1_OBDocEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:OBDocEditResponse"/>
  </wsdl:message>
  <wsdl:message name="IService1_sPing_InputMessage">
    <wsdl:part name="parameters" element="tns:sPing"/>
  </wsdl:message>
  <wsdl:message name="IService1_sPing_OutputMessage">
    <wsdl:part name="parameters" element="tns:sPingResponse"/>
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="OBDocCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OBDocCreate" message="tns:IService1_OBDocCreate_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OBDocCreateResponse" message="tns:IService1_OBDocCreate_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="OBDocEdit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OBDocEdit" message="tns:IService1_OBDocEdit_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OBDocEditResponse" message="tns:IService1_OBDocEdit_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="sPing">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sPing" message="tns:IService1_sPing_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sPingResponse" message="tns:IService1_sPing_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OBDocCreate">
      <soap:operation soapAction="http://tempuri.org/IService1/OBDocCreate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OBDocEdit">
      <soap:operation soapAction="http://tempuri.org/IService1/OBDocEdit" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sPing">
      <soap:operation soapAction="http://tempuri.org/IService1/sPing" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QrService">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://10.242.20.6/OBService/OBService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>