Bss_ProcesarPago_Bpel/SOA/WSDLs/aplicarPagoInsis.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ccm="http://sura.com.pa/expoAplicaPagoInsisSOAP/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="expoAplicaPagoInsisSOAP" targetNamespace="http://sura.com.pa/expoAplicaPagoInsisSOAP/">
 <wsdl:import namespace="http://schemas.oracle.com/bpel/extension"
                location="RuntimeFault.wsdl"/>
  <wsdl:types>
  
    <xsd:schema targetNamespace="http://sura.com.pa/expoAplicaPagoInsisSOAP/"> 
     <xsd:element name="aplicarPagoInsisFaultMsg">
     <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="code" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Codigo Error
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
                <xsd:element name="summary" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Resumen Error
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
                <xsd:element name="detail" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Detalle Error
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
      <xsd:element name="aplicarPagoInsis">
        <xsd:complexType>
          <xsd:sequence>
          <xsd:element name="CABECERA">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="CODIGO_OPERACION" type="xsd:string"/>
                     <xsd:element name="FECHA_TRANSACCION" type="xsd:string"/>
                     <xsd:element name="ID_TRANSACCION_OSB" type="xsd:string"/>
                     <xsd:element name="SISTEMA_DESTINO" type="xsd:string"/>
                     <xsd:element name="SISTEMA_ORIGEN" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
          	<xsd:element name="PROCESO" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Proceso
					</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
                <xsd:element name="NUMERO_POLIZA" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Numero poliza
					</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
                <xsd:element name="IDENTIFICACION_CLIENTE" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Identificacion Cliente
					</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
                <xsd:element name="REFERENCIA" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Referencia
					</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
                <xsd:element name="MONTO" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Monto
					</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
                <xsd:element name="USUARIO" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Usuario
					</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
                <xsd:element name="SUCURSAL" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Sucursal
					</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
                <xsd:element name="NUMREFER" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Numero Referencia
					</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
                 <xsd:element name="DETALLE_PAGO">
                  <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="TIPO_CUENTA" type="xsd:string">
                     <xsd:annotation>
          			<xsd:documentation>
          				Tipo Cuenta
					</xsd:documentation>
          		</xsd:annotation>
                        </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="aplicarPagoInsisResponse">
        <xsd:complexType>
          <xsd:sequence>
                <xsd:element name="STATUS">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="DETALLE" type="xsd:string"/>
                     <xsd:element name="CODIGO" type="xsd:integer"/>
                     <xsd:element name="COMPONENTE" type="xsd:string"/>
                     <xsd:element name="ORIGEN" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="CABECERA">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="FECHA_TRANSACCION" type="xsd:string"/>
                     <xsd:element name="ID_TRANSACCION_OSB" type="xsd:string"/>
                     <xsd:element name="FECHA_PROCESAMIENTO" type="xsd:string"/>
                     <xsd:element name="SISTEMA_DESTINO" type="xsd:string"/>
                     <xsd:element name="SISTEMA_ORIGEN" type="xsd:string"/>
                     <xsd:element name="CODIGO_OPERACION" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="aplicarPagoInsisRequest">
    <wsdl:part element="ccm:aplicarPagoInsis" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="aplicarPagoInsisResponse">
    <wsdl:part element="ccm:aplicarPagoInsisResponse" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="aplicarPagoInsisFault">
    <wsdl:part name="parameters" element="ccm:aplicarPagoInsisFaultMsg"/>
  </wsdl:message>
  <wsdl:portType name="expoAplicaPagoInsisSOAP">
    <wsdl:operation name="aplicarPagoInsis">
      <wsdl:input message="ccm:aplicarPagoInsisRequest"/>
      <wsdl:output message="ccm:aplicarPagoInsisResponse"/>
      <wsdl:fault name="aplicarPagoInsisFaultMsg" message="ccm:aplicarPagoInsisFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="aplicaPagoInsisSOAP" type="ccm:expoAplicaPagoInsisSOAP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="aplicarPagoInsis">
      <soap:operation soapAction="http://sura.com.pa/expoAplicaPagoInsisSOAP/aplicarPagoInsis"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="aplicarPagoInsisFaultMsg">
        <soap:fault name="aplicarPagoInsisFaultMsg" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="expoAplicaPagoInsisSOAP">
    <wsdl:documentation>Permite aplicar un pago en el core Insis</wsdl:documentation>
    <wsdl:port binding="ccm:aplicaPagoInsisSOAP" name="aplicaPagoInsisSOAP">
      <soap:address location="http://ptyosbdesa.sura.com.pa:17014/sbus/Exp_AplicarPagoInsis"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
