Bss_ProcesarPago_Bpel/SOA/WSDLs/aplicarPagoNatural.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ccm="http://sura.com.pa/expoAplicaPagoNaturalSOAP/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="expoAplicaPagoNaturalSOAP" targetNamespace="http://sura.com.pa/expoAplicaPagoNaturalSOAP/">
 <wsdl:import namespace="http://schemas.oracle.com/bpel/extension"
                location="RuntimeFault.wsdl"/>
  <wsdl:types>
  
    <xsd:schema targetNamespace="http://sura.com.pa/expoAplicaPagoNaturalSOAP/"> 
     <xsd:element name="aplicarPagoNaturalFaultMsg">
     <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="code" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Codigo Error
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
                <xsd:element name="summary" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Resumen Error
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
                <xsd:element name="detail" type="xsd:string">
          		<xsd:annotation>
          			<xsd:documentation>
          				Detalle Error
          			</xsd:documentation>
          		</xsd:annotation>
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
      <xsd:element name="aplicarPagoNatural">
        <xsd:complexType>
          <xsd:sequence>
          <xsd:element name="CABECERA">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element type="xsd:string" name="CODIGO_OPERACION"/>
                            <xsd:element type="xsd:string" name="FECHA_PROCESAMIENTO"/>
                            <xsd:element type="xsd:string" name="FECHA_TRANSACCION"/>
                            <xsd:element type="xsd:string" name="ID_TRANSACCION_OSB"/>
                            <xsd:element type="xsd:string" name="SISTEMA_DESTINO"/>
                            <xsd:element type="xsd:string" name="SISTEMA_ORIGEN"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ESTRUCTURA_COMERCIAL">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element type="xsd:string" name="REFERENCIA"/>
                            <xsd:element type="xsd:string" name="SUCURSAL"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="INFO_PAGO">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element type="xsd:string" name="CONCEPTO_RECAUDO"/>
                            <xsd:element type="xsd:string" name="ESTADO_PAGO"/>
                            <xsd:element type="xsd:string" name="FECHA_OPERACION"/>
                            <xsd:element type="xsd:string" name="ID_RECIBO"/>
                            <xsd:element type="xsd:string" name="IMPORTE"/>
                            <xsd:element type="xsd:string" name="MEDIO_PAGO"/>
                            <xsd:element type="xsd:string" name="NUMERO_CAJA"/>
                            <xsd:element type="xsd:string" name="RECAUDO_PRIMA"/>
                            <xsd:element type="xsd:string" name="TIPO_CUENTA"/>
                            <xsd:element type="xsd:string" name="TIPO_RECAUDO"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="POLIZA">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element type="xsd:string" name="NUMERO_POLIZA"/>
                            <xsd:element type="xsd:string" name="OBSERVACION"/>
                            <xsd:element type="xsd:string" name="RAMO"/>
                            <xsd:element type="xsd:string" name="SUB_RAMO"/>
                            <xsd:element type="xsd:string" name="USUARIO"/>
                            <xsd:element type="xsd:string" name="VIGENCIA_DESDE"/>
                            <xsd:element type="xsd:string" name="VIGENCIA_HASTA"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="TITULAR">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element type="xsd:string" name="NUMERO_IDENTIFICACION"/>
                            <xsd:element type="xsd:string" name="TIPO_IDENTIFICACION"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="aplicarPagoNaturalResponse">
        <xsd:complexType>
          <xsd:sequence>
                <xsd:element name="STATUS">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="DETALLE" type="xsd:string"/>
                     <xsd:element name="CODIGO" type="xsd:integer"/>
                     <xsd:element name="COMPONENTE" type="xsd:string"/>
                     <xsd:element name="ORIGEN" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="CABECERA">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="FECHA_TRANSACCION" type="xsd:string"/>
                     <xsd:element name="ID_TRANSACCION_OSB" type="xsd:string"/>
                     <xsd:element name="FECHA_PROCESAMIENTO" type="xsd:string"/>
                     <xsd:element name="SISTEMA_DESTINO" type="xsd:string"/>
                     <xsd:element name="SISTEMA_ORIGEN" type="xsd:string"/>
                     <xsd:element name="CODIGO_OPERACION" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="NUMERO_TRANSACCION" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="aplicarPagoNaturalRequest">
    <wsdl:part element="ccm:aplicarPagoNatural" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="aplicarPagoNaturalResponse">
    <wsdl:part element="ccm:aplicarPagoNaturalResponse" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="aplicarPagoNaturalFault">
    <wsdl:part name="parameters" element="ccm:aplicarPagoNaturalFaultMsg"/>
  </wsdl:message>
  <wsdl:portType name="expoAplicaPagoNaturalSOAP">
    <wsdl:operation name="aplicarPagoNatural">
      <wsdl:input message="ccm:aplicarPagoNaturalRequest"/>
      <wsdl:output message="ccm:aplicarPagoNaturalResponse"/>
      <wsdl:fault name="aplicarPagoNaturalFaultMsg" message="ccm:aplicarPagoNaturalFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="aplicarPagoNaturalSOAP" type="ccm:expoAplicaPagoNaturalSOAP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="aplicarPagoNatural">
      <soap:operation soapAction="http://sura.com.pa/expoAplicaPagoNaturalSOAP/aplicarPagoNatural"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="aplicarPagoNaturalFaultMsg">
        <soap:fault name="aplicarPagoNaturalFaultMsg" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="expoAplicaPagoNaturalSOAP">
    <wsdl:documentation>Permite aplicar un pago en el core Natural</wsdl:documentation>
    <wsdl:port binding="ccm:aplicarPagoNaturalSOAP" name="aplicarPagoNaturalSOAP">
      <soap:address location="http://ptyosbdesa.sura.com.pa:17014/sbus/Exp_AplicarPagoNatural"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
