Dat_ConsultarEspecialidadesMedicas/Resources/Restadapter/ConsultarEspecialidadesMedicas.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ConsultarEspecialidadesMedicas">RestReference</doc>
   <resources>
      <resource path="/desarrollo/ws_soaseg_salud/evaluacionmedica/especialidades">
         <method name="GET" soa:name="Consulta">
            <request>
               <param name="VCODGRPESPE" style="query" type="xsd:string"/>
               <param name="VCODESPE" style="query" type="xsd:string"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
