ComponentesComunesInsis/WSDL/AcordMsgSvc_v_1_5_0.xsd

<xs:schema xmlns="http://www.ACORD.org/Standards/AcordMsgSvc/1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
     targetNamespace="http://www.ACORD.org/Standards/AcordMsgSvc/1" elementFormDefault="unqualified"
     attributeFormDefault="unqualified" version="1.5.0">
    <xs:include schemaLocation="AcordMsgSvc_base_v_1_5_0.xsd"/>
    <xs:element name="ListInRq" type="ListInRqType"/>
    <xs:element name="ListInRs" type="ListInRsType"/>
    <xs:element name="PostRq" type="PostRqType"/>
    <xs:element name="PostRs" type="PostRsType"/>
    <xs:element name="StatusInRq" type="StatusInRqType"/>
    <xs:element name="StatusInRs" type="StatusInRsType"/>
    <xs:element name="ListOutRq" type="ListOutRqType"/>
    <xs:element name="ListOutRs" type="ListOutRsType"/>
    <xs:element name="RetrieveRs" type="RetrieveRsType"/>
    <xs:element name="RetrieveRq" type="RetrieveRqType"/>
    <xs:element name="StatusOutRs" type="StatusOutRsType"/>
    <xs:element name="StatusOutRq" type="StatusOutRqType"/>
    <xs:element name="CallRq" type="CallRqType"/>
    <xs:element name="CallRs" type="CallRsType"/>
    <xs:element name="PingRq" type="PingRqType"/>
    <xs:element name="PingRs" type="PingRsType"/>
    <xs:complexType name="ListInRqType">
        <xs:sequence>
            <xs:element ref="SvcIndicCd" minOccurs="0"/>
            <xs:group ref="ROUTETIME_Group"/>
            <xs:element ref="MsgItems" minOccurs="0"/>
            <xs:element ref="SyncItem" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="ListInRsType">
        <xs:sequence>
            <xs:element ref="SvcIndicCd" minOccurs="0"/>
            <xs:group ref="ROUTETIME_Group"/>
            <xs:element ref="MsgItems" minOccurs="0"/>
            <xs:element ref="SyncItem" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="PostRqType">
        <xs:sequence>
            <xs:group ref="ROUTETIME_Group"/>
            <xs:element ref="MsgItem"/>
            <xs:element ref="ResentMsgItem" minOccurs="0"/>
            <xs:element ref="RqItem" minOccurs="0"/>
            <xs:element ref="SecurityProfileCd" minOccurs="0"/>
            <xs:element ref="WorkFolder"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="PostRsType">
        <xs:sequence>
            <xs:group ref="ROUTETIME_Group"/>
            <xs:element ref="MsgItems"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="StatusInRqType">
        <xs:sequence>
            <xs:group ref="ROUTETIME_Group"/>
            <xs:element ref="MsgItems" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="StatusInRsType">
        <xs:sequence>
            <xs:group ref="ROUTETIME_Group"/>
            <xs:element ref="MsgItems"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="ListOutRsType">
        <xs:sequence>
            <xs:element ref="SvcIndicCd" minOccurs="0"/>
            <xs:group ref="ROUTETIME_Group"/>
            <xs:element ref="MsgItems" minOccurs="0"/>
            <xs:element ref="SyncItem" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="ListOutRqType">
        <xs:sequence>
            <xs:element ref="SvcIndicCd" minOccurs="0"/>
            <xs:group ref="ROUTETIME_Group"/>
            <xs:element ref="MsgItems" minOccurs="0"/>
            <xs:element ref="SyncItem" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="RetrieveRsType">
        <xs:sequence>
            <xs:element ref="SvcIndicCd" minOccurs="0"/>
            <xs:group ref="ROUTETIME_Group"/>
            <xs:element ref="MsgItem" minOccurs="0"/>
            <xs:element ref="ResentMsgItem" minOccurs="0"/>
            <xs:element ref="RqItem" minOccurs="0"/>
            <xs:element ref="SecurityProfileCd" minOccurs="0"/>
            <xs:element ref="WorkFolder" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="RetrieveRqType">
        <xs:sequence>
            <xs:element ref="Sender"/>
            <xs:element ref="Receiver"/>
            <xs:element ref="Application"/>
            <xs:element ref="TimeStamp"/>
            <xs:element ref="MsgItem" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="StatusOutRsType">
        <xs:sequence>
            <xs:element ref="SvcIndicCd" minOccurs="0"/>
            <xs:element ref="Sender"/>
            <xs:element ref="Receiver"/>
            <xs:element ref="Application"/>
            <xs:element ref="TimeStamp"/>
            <xs:element ref="MsgItems" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="StatusOutRqType">
        <xs:sequence>
            <xs:group ref="ROUTETIME_Group"/>
            <xs:element ref="MsgItems"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="CallRqType">
        <xs:sequence>
            <xs:group ref="ROUTETIME_Group"/>
            <xs:element ref="MsgItem"/>
            <xs:element ref="ResentMsgItem" minOccurs="0"/>
            <xs:element ref="SecurityProfileCd" minOccurs="0"/>
            <xs:element ref="WorkFolder"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="CallRsType">
        <xs:sequence>
            <xs:group ref="ROUTETIME_Group"/>
            <xs:element ref="MsgItem" minOccurs="0"/>
            <xs:element ref="RqItem"/>
            <xs:element ref="WorkFolder" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="PingRqType">
        <xs:sequence>
            <xs:element ref="Sender"/>
            <xs:element ref="Receiver"/>
            <xs:element ref="Application"/>
            <xs:element ref="TimeStamp"/>
            <xs:element ref="PingId"/>
            <xs:element ref="ApplicableValidators" minOccurs="0"/>
            <xs:element ref="SecurityProfileCd" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="PingRsType">
        <xs:sequence>
            <xs:element ref="Sender"/>
            <xs:element ref="Receiver"/>
            <xs:element ref="Application"/>
            <xs:element ref="TimeStamp"/>
            <xs:element ref="PingId"/>
            <xs:element ref="ApplicableValidators" minOccurs="0"/>
            <xs:element ref="SecurityProfileCd" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="MsgSvcVersionAttributeGroup"/>
    </xs:complexType>
    <xs:complexType name="AttachmentType">
        <xs:choice>
            <xs:element ref="Document"/>
            <xs:element ref="Message"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AttachmentPackageType">
        <xs:sequence>
            <xs:element ref="Owner" minOccurs="0"/>
            <xs:element ref="Operator" minOccurs="0"/>
            <xs:element ref="RepositoryService" minOccurs="0"/>
            <xs:element ref="CommunicationChannelCd"/>
            <xs:element ref="FileId" minOccurs="0"/>
            <xs:element ref="FileFormatCd" minOccurs="0"/>
            <xs:element ref="FileSize" minOccurs="0"/>
            <xs:element ref="RetrievalExpiryDtTime" minOccurs="0"/>
            <xs:element ref="Description" minOccurs="0"/>
            <xs:element ref="Attachments"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageType">
        <xs:sequence>
            <xs:element ref="Application"/>
            <xs:element ref="MsgItem"/>
            <xs:element ref="FileId" minOccurs="0"/>
            <xs:element ref="FileFormatCd" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MsgFileType">
        <xs:sequence>
            <xs:element ref="FileId"/>
            <xs:element ref="FileFormatCd"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MSGID_Type">
        <xs:complexContent>
            <xs:restriction base="MSGIDSTATUS_Type">
                <xs:sequence>
                    <xs:element ref="MsgId"/>
                    <xs:element ref="MsgReference" minOccurs="0"/>
                    <xs:element ref="MsgTypeCd"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MSGIDSTATUS_Type">
        <xs:sequence>
            <xs:element ref="MsgId"/>
            <xs:element ref="MsgReference" minOccurs="0"/>
            <xs:element ref="MsgTypeCd"/>
            <xs:element ref="MsgStatusCd" minOccurs="0"/>
            <xs:element ref="MsgStatusDetails" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MsgStatusCdType">
        <xs:restriction base="EnumType">
            <xs:enumeration value="completed"/>
            <xs:enumeration value="delivered"/>
            <xs:enumeration value="in_process"/>
            <xs:enumeration value="in_sequence"/>
            <xs:enumeration value="invalid_payload"/>
            <xs:enumeration value="out_of_sequence"/>
            <xs:enumeration value="received"/>
            <xs:enumeration value="security"/>
            <xs:enumeration value="type_accepted"/>
            <xs:enumeration value="unknown"/>
            <xs:enumeration value="unsupported_communication_channel"/>
            <xs:enumeration value="unwrapped"/>
            <xs:enumeration value="unwrapping_failed"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SvcIndicCdType">
        <xs:restriction base="EnumType">
            <xs:enumeration value="resync"/>
            <xs:enumeration value="retrieve_empty"/>
            <xs:enumeration value="retrieve_unknown"/>
            <xs:enumeration value="status"/>
            <xs:enumeration value="transfer"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SyncItemType">
        <xs:sequence>
            <xs:element ref="MsgId"/>
            <xs:element ref="MsgStatusCd" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WorkFolderType">
        <xs:sequence>
            <xs:element ref="MsgFile"/>
            <xs:element ref="AttachmentPackages" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:group name="ROUTETIME_Group">
        <xs:sequence>
            <xs:element ref="Sender"/>
            <xs:element ref="Receiver"/>
            <xs:element ref="Application"/>
            <xs:element ref="TimeStamp"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="MsgSvcVersionAttributeGroup">
        <xs:attribute name="Version" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="1.5.0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:simpleType name="SecurityProfileCd_Type">
        <xs:restriction base="EnumType">
            <xs:enumeration value="Initial"/>
            <xs:enumeration value="Basic"/>
            <xs:enumeration value="DeliveryBasic"/>
            <xs:enumeration value="Medium"/>
            <xs:enumeration value="MediumSwa"/>
            <xs:enumeration value="Maximal"/>
            <xs:enumeration value="MaximalSwa"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Attachment">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="AttachmentType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Attachments">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Attachment" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AttachmentPackage" type="AttachmentPackageType"/>
    <xs:element name="AttachmentPackages">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AttachmentPackage" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Message" type="MessageType"/>
    <xs:element name="MsgFile" type="MsgFileType"/>
    <xs:element name="MsgItem" type="MSGIDSTATUS_Type"/>
    <xs:element name="MsgItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MsgItem" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MsgStatusCd" type="MsgStatusCdType"/>
    <xs:element name="MsgStatusDetails" type="xs:string"/>
    <xs:element name="PingId" type="UUIdType"/>
    <xs:element name="ResentMsgItem" type="MSGID_Type"/>
    <xs:element name="RetrievalExpiryDtTime" type="xs:dateTime"/>
    <xs:element name="RqItem" type="MSGIDSTATUS_Type"/>
    <xs:element name="SecurityProfileCd" type="SecurityProfileCd_Type"/>
    <xs:element name="Signatory" type="GENERALPARTY_Type"/>
    <xs:element name="SvcIndicCd" type="SvcIndicCdType"/>
    <xs:element name="SyncItem" type="SyncItemType"/>
    <xs:element name="TimeStamp" type="xs:dateTime"/>
    <xs:element name="WorkFolder" type="WorkFolderType"/>
</xs:schema>
