ComponentesComunesInsis/WSDL/insisWF.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InsisWF" targetNamespace="http://fadata.eu/soap/insis/wf"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://fadata.eu/soap/insis/wf"
             xmlns:insis="http://www.fadata.bg/Insurance_Messages/v3.0/xml/"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512"
             xmlns:ibase="http://fadata.eu/soap/insis">
    <import location="insisAbstractBase.wsdl"
            namespace="http://fadata.eu/soap/insis"/>
    <types>
        <xs:schema targetNamespace="http://www.fadata.bg/Insurance_Messages/v3.0/xml/"
                   elementFormDefault="qualified">
            <xs:include schemaLocation="xsd/insis/Insis_WF_v3.0.xsd"/>
        </xs:schema>
    </types>
    <message name="CompleteWfStepRqMessage">
        <part name="payload" element="insis:CompleteWfStepRq"/>
    </message>
    <message name="CompleteWfStepRsMessage">
        <part name="payload" element="insis:CompleteWfStepRs"/>
    </message>
    <message name="CreateWfProcessRqMessage">
        <part name="payload" element="insis:CreateWfProcessRq"/>
    </message>
    <message name="CreateWfProcessRsMessage">
        <part name="payload" element="insis:CreateWfProcessRs"/>
    </message>
    <message name="GetActiveWfStepRqMessage">
        <part name="payload" element="insis:GetActiveWfStepRq"/>
    </message>
    <message name="GetActiveWfStepRsMessage">
        <part name="payload" element="insis:GetActiveWfStepRs"/>
    </message>
    <message name="RegisterWfAttachmentPackageRqMessage">
        <part name="payload" element="insis:RegisterWfAttachmentPackageRq"/>
    </message>
    <message name="RegisterWfAttachmentPackageRsMessage">
        <part name="payload" element="insis:RegisterWfAttachmentPackageRs"/>
    </message>
    <portType name="InsisWFPort">
        <operation name="completeWfStep">
            <input message="tns:CompleteWfStepRqMessage"/>
            <output message="tns:CompleteWfStepRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="createWfProcess">
            <input message="tns:CreateWfProcessRqMessage"/>
            <output message="tns:CreateWfProcessRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="getActiveWfStep">
            <input message="tns:GetActiveWfStepRqMessage"/>
            <output message="tns:GetActiveWfStepRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
        <operation name="registerWfAttachmentPackage">
            <input message="tns:RegisterWfAttachmentPackageRqMessage"/>
            <output message="tns:RegisterWfAttachmentPackageRsMessage"/>
            <fault name="Error" message="ibase:ErrorMessage"/>
        </operation>
    </portType>
    <binding name="InsisWFPortBinding" type="tns:InsisWFPort">
        <wsp:PolicyReference URI="#policy-kerberos-or-unt"/>
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="completeWfStep">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="createWfProcess">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="getActiveWfStep">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
        <operation name="registerWfAttachmentPackage">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Error">
                <soap:fault use="literal" name="Error"/>
            </fault>
        </operation>
    </binding>
    <service name="InsisWF">
        <port name="InsisWFPort" binding="tns:InsisWFPortBinding">
            <soap:address location="http://localhost:7001/insis-soapws/InsisWFPort"/>
        </port>
    </service>
</definitions>