Dat_CrearReclamoSaludInsis/Resources/NXSD/ReclamoSalud_Insis_RQ.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pa.sura.insis.com/crearreclamosalud"
            targetNamespace="http://pa.sura.insis.com/crearreclamosalud" elementFormDefault="qualified"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON">
  <xsd:element name="RegistrarReclamo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RECLAMO" type="tns:RECLAMO" minOccurs="0" maxOccurs="1"></xsd:element>		
        <xsd:element name="SOLICITUD" type="tns:SOLICITUD" minOccurs="0" maxOccurs="unbounded"></xsd:element>        
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RECLAMO">
    <xsd:sequence>
	  <xsd:element name="ID_TARJETA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CODIGO_TARJETA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="NUMERO_POLIZA" type="xsd:string" minOccurs="0"/>
          <xsd:element name="NO_RECLAMO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CODIGO_PRODUCTO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="FECHA_REGISTRO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="TIPO_RECLAMO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CAUSA_RECLAMO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="TIPO_EVENTO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="FECHA_EVENTO" type="xsd:string" minOccurs="0" maxOccurs="1"/>
	  <xsd:element name="HORA_EVENTO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CONCEPTO_RECLAMO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CODIGO_PAIS_EVENTO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="LUGAR_EVENTO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="INFORMACION_ASEGURADORA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="NO_RECLAMO_ASEGURADORA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="FECHA_MUERTE" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="COMENTARIO_RECLAMO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="NUMERO_PREAUTORIZACION" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
<xsd:complexType name="SERVICIO">
    <xsd:sequence>
	  <xsd:element name="TIPO_ACTIVIDAD" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CODIGO_ACTIVIDAD" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="FECHA_INICIO_SERVICIO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="HORA_INICIO_SERVICIO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="FECHA_FIN_SERVICIO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="HORA_FIN_SERVICIO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="TRATAMIENTO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="CANTIDAD_SERVICIO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="PRECIO_SERVICIO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="MONTO_SERVICIO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="MONEDA_SERVICIO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="CUOTA_PACIENTE" type="xsd:string" minOccurs="0"/>
          <xsd:element name="CANTIDAD_CONFIRMADO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="PRECIO_CONFIRMADO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="MONTO_CONFIRMADO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="MONEDA_CONFIRMADO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="CONTROL" type="xsd:string" minOccurs="0"/>
          <xsd:element name="OBSERVACION" type="xsd:string" minOccurs="0"/>
          <xsd:element name="DESCRIPCION" type="xsd:string" minOccurs="0"/>
          <xsd:element name="LUGAR_SERVICIO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="CODIGO_PORTADA" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PARTICIPANTE">
    <xsd:sequence>
	   <xsd:element name="PERSONA" type="tns:PERSONA" minOccurs="0" maxOccurs="unbounded"></xsd:element>
	   <xsd:element name="RELACION" type="tns:RELACION_PERSONAL" minOccurs="0" maxOccurs="unbounded"></xsd:element>
	   <xsd:element name="FECHA_OPERACION" type="xsd:string" minOccurs="0"/>
	   <xsd:element name="NUMERO_REPORTE" type="xsd:string" minOccurs="0"/>
	   <xsd:element name="FECHA_REPORTE" type="xsd:string" minOccurs="0"/>
	   <xsd:element name="PORCENTAJE_REPORTE" type="xsd:string" minOccurs="0"/>
           <xsd:element name="PERSONA_ROL" type="xsd:string" minOccurs="0"/>	  
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PERSONA">
    <xsd:sequence>
	  <xsd:element name="PERSONA_NATURAL" type="tns:PERSONA_NATURAL" minOccurs="0"/>
          <xsd:element name="PERSONA_JURIDICA" type="tns:PERSONA_JURIDICA" minOccurs="0"/>
	  <xsd:element name="TIPO_PERSONA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="NACIONALIDAD" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="INDUSTRIA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="SUBINDUSTRIA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="FECHA_REGISTRO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="OBSERVACION" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="PREGUNTAS" type="tns:PREGUNTA" minOccurs="0" maxOccurs="unbounded"/>
	  <xsd:element name="DIGITO_VERIFICADOR" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="TIPO_IDENTIFICACION" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="FECHA_VENCIMIENTO_ID" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="DIRECCIONES" type="tns:DIRECCION" minOccurs="0" maxOccurs="unbounded"></xsd:element>
	  <xsd:element name="CONTACTOS" type="tns:CONTACTO" minOccurs="0" maxOccurs="unbounded"></xsd:element>
	  <xsd:element name="DATOS_BANCARIOS" type="tns:DATO_BANCARIO" minOccurs="0" maxOccurs="unbounded"></xsd:element>	 
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PERSONA_NATURAL">
    <xsd:sequence>
      <xsd:element name="NOMBRE" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PRIMER_APELLIDO" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SEGUNDO_APELLIDO" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IDENTIFICACION" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SEXO" type="xsd:string" minOccurs="0"/>
      <xsd:element name="FECHA_DE_NACIMIENTO" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="IDIOMA" type="xsd:string" minOccurs="0"/>
      <xsd:element name="PAIS_RESIDENCIA" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PERSONA_JURIDICA">
    <xsd:sequence>
      <xsd:element name="RAZONSOCIAL" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="ID_CLIENTE" type="xsd:int" minOccurs="0"/>
      <xsd:element name="PERIODO_FISCAL" type="xsd:long" minOccurs="0"/>
      <xsd:element name="TIPO_PERSONA_JURIDICA" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PREGUNTA">
    <xsd:sequence>
	  <xsd:element name="CODIGO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="RESPUESTA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="IDENTIFICADOR" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DIRECCION">
    <xsd:sequence>
          <xsd:element name="NOMBRE_PAIS" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CODIGO_PAIS" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="NOMBRE_ESTADO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CODIGO_ESTADO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="NOMBRE_REGION" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CODIGO_REGION" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="NOMBRE_CIUDAD" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CODIGO_CIUDAD" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="BARRIO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CALLE_AVENIDA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CALLE_AVENIDA_NRO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="EDIFICIO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="PISO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="ENTRADA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="APTO_CASA" type="xsd:string" minOccurs="0"/>	    
	  <xsd:element name="DIRECCION" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="TIPO_DIRECCION" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="ES_CORRESPONDENCIA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="ES_FACTURACION" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="ES_PRINCIPAL" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="OBSERVACION" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="TELEFONO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="FAX" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="EMAIL" type="xsd:string" minOccurs="0"/>	  
    </xsd:sequence>
  </xsd:complexType>  
  <xsd:complexType name="CONTACTO">
    <xsd:sequence>
      <xsd:element name="TIPO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="VALOR" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="ES_PRINCIPAL" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="OBSERVACION" type="xsd:string" minOccurs="0"/>	  
	  <xsd:element name="IDIOMA" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>  
  <xsd:complexType name="DATO_BANCARIO">
    <xsd:sequence>
      <xsd:element name="NUMERO_CUENTA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="BANCO_NOMBRE" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="ES_PRINCIPAL" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="IDENTIFICADOR_BANCO" type="xsd:string" minOccurs="0"/>	
	  <xsd:element name="IDENTIFICADOR_CUENTA" type="xsd:string" minOccurs="0"/>		  
	  <xsd:element name="ESTADO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="MONEDA" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RELACION_PERSONAL">
    <xsd:sequence>
      <xsd:element name="IDENTIFICACION" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="TIPO_PERSONA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CODIGO_RELACION" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="NOMBRE_RELACION" type="xsd:string" minOccurs="0"/>	
	  <xsd:element name="FECHA_INICIO" type="xsd:string" minOccurs="0"/>		  
	  <xsd:element name="HORA_INICIO" type="xsd:string" minOccurs="0"/>		  
	  <xsd:element name="FECHA_FIN" type="xsd:string" minOccurs="0"/>		  
	  <xsd:element name="HORA_FIN" type="xsd:string" minOccurs="0"/>	
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SOLICITUD">
    <xsd:sequence>
	  <xsd:element name="CODIGO_PROVEEDOR" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="CODIGO_RED" type="xsd:string" minOccurs="0"/>
          <xsd:element name="TIPO_SOLICITUD" type="xsd:string" minOccurs="0"/>
          <xsd:element name="FECHA_SOLICITUD" type="xsd:string" minOccurs="0"/>
          <xsd:element name="CODIGO_DIAGNOSTICO_PRIMARIO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="CODIGO_GRUPO_DIAGNOSTICO_PRIMARIO" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="MONTO_FACTURA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="MONEDA_FACTURA" type="xsd:string" minOccurs="0"/>
          <xsd:element name="NUMERO_FACTURA" type="xsd:string" minOccurs="0"/>
	  <xsd:element name="FECHA_FACTURA" type="xsd:string" minOccurs="0"/>
          <xsd:element name="LUGAR_SERVICIO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="FECHA_ADMISION" type="xsd:string" minOccurs="0"/>
          <xsd:element name="HORA_ADMISION" type="xsd:string" minOccurs="0"/>
          <xsd:element name="FECHA_ALTA" type="xsd:string" minOccurs="0"/>
          <xsd:element name="HORA_ALTA" type="xsd:string" minOccurs="0"/>
          <xsd:element name="FECHA_ESTIMADA_ADMISION" type="xsd:string" minOccurs="0"/>
          <xsd:element name="OBSERVACION" type="xsd:string" minOccurs="0"/>
          <xsd:element name="PARTICIPANTES" type="tns:PARTICIPANTE" minOccurs="0" maxOccurs="unbounded"></xsd:element>
	  <xsd:element name="SEVICIOS" type="tns:SERVICIO" minOccurs="0" maxOccurs="unbounded"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
 <xsd:annotation xmlns="">
    <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
    <xsd:appinfo>USEHEADER=false</xsd:appinfo>
  </xsd:annotation>
</xsd:schema>