Bss_ConsultarSaldo/Resources/RestReference.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="RestReference">RestReference</doc>
   <resources>
      <resource path="/ServPremium/SaldoFraccionado/ConsultarPremium">
         <method name="GET" soa:name="ConsultarSaldoFraccionadoPremium">
            <request>
               <param name="RAMO" style="query" type="xsd:string"/>
               <param name="SUB_RAMO" style="query" type="xsd:string"/>
               <param name="POLIZA" style="query" type="xsd:string"/>
               <param name="SECUENCIA" style="query" type="xsd:string"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
