Dat_AplicarPagoNatural/Resources/wsdl/NAT_LABO.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sn0="urn:com-softwareag-entirex-rpc:SURADESA-BORRARDV" xmlns:sn2="urn:com-softwareag-entirex-rpc:SURADESA-CVBENONE" xmlns:sn1="urn:com-softwareag-entirex-rpc:SURADESA-CUADRADV" xmlns:sn4="urn:com-softwareag-entirex-rpc:SURADESA-WSFASUVI" xmlns:tns="http://namespace.softwareag.com/entirex/xml/mapping" xmlns:sn3="urn:com-softwareag-entirex-rpc:SURADESA-CVSALPAO" xmlns:sn6="urn:com-softwareag-entirex-rpc:SURADESA-CVVALRDI" xmlns:sn5="urn:com-softwareag-entirex-rpc:SURADESA-CVMOVNVA" xmlns:sn8="urn:com-softwareag-entirex-rpc:SURADESA-WSSAPLEG" xmlns:sn7="urn:com-softwareag-entirex-rpc:SURADESA-CARGADEV" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SURADESA" targetNamespace="http://namespace.softwareag.com/entirex/xml/mapping">
<wsdl:types>
<xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:SURADESA-BORRARDV">
<xsd:element name="BORRARDVResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_RESPUESTA">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BORRARDV">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_FECHA">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:SURADESA-CUADRADV">
<xsd:element name="CUADRADV">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_FECHA">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CUADRADVResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="REGISTROS">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="IMPORTE">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="18"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_RESPUESTA">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:SURADESA-CVBENONE">
<xsd:element name="CVBENONEResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_ARR-PARAMETROS-ONEROSOS-OUTs">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="_ARR-PARAMETROS-ONEROSOS-OUT">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="_A-FECHA-FIN-VIGENCIA">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_A-DNI-ONEROSO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_A-NOMBRE-ONEROSO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_A-RAMO-DEVUELTA">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_A-POLIZA-DEVUELTA">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="12"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_A-RESP">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="_A-MSG-ERR">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="150"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CVBENONE">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_ARR-PARAMETROS-ONEROSOS-INs">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="_ARR-PARAMETROS-ONEROSOS-IN">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="_A-RAMO-SUBRAMO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_A-POLIZA">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="13"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_N-FECHA-AMD">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:SURADESA-CVSALPAO">
<xsd:element name="CVSALPAO">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_POLIZA">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="13"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_TIPO-AUTOMATICO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_TIPO-ORDINARIO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_MSG-RESP-ORD">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_MSG-ERR">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="150"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CVSALPAOResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_TIPO-AUTOMATICO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_SALDO-AUTOMATICO">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="14"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_MSG-RESP-AUT">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_TIPO-ORDINARIO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_SALDO-ORDINARIO">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="14"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_DNICLIENTE">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_NOMCLIENTE">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_MSG-RESP-ORD">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_MSG-ERR">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="150"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:SURADESA-WSFASUVI">
<xsd:element name="WSFASUVI">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_RAMO-POL">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_POLIZA">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="16"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_RECIBO-SAP">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="22"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_PRIMA-X-PAGAR">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="14"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_IMP-X-PAGAR">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="14"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_USUARIO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WSFASUVIResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_RESP">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_CODE-ERR">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="7"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:SURADESA-CVMOVNVA">
<xsd:element name="CVMOVNVA">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_RAMO-SUBRAMO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_POLIZA">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="12"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_N-NO-PAGOS">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_N-RUTA-COBROS">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_A-FRECUENCIA-PAGO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_A-FORMA-PAGO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_N-DIA-COBROS">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_A-DIRECCION">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="150"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_DNICLIENTE">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_NOMCLIENTE">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CVMOVNVAResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_MSG-ERR">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="150"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:SURADESA-CVVALRDI">
<xsd:element name="CVVALRDIResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_FECHA-PROCESO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_A-MSG-ERROR">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_N-MONTO-DEVUELTO">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="14"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CVVALRDI">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_POLIZA">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="13"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_MONTO-SOLICITADO">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="14"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="_FECHA-PROCESO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:SURADESA-CARGADEV">
<xsd:element name="CARGADEVResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_N-REGISTROS">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CARGADEV">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="_ARR-PARAMETROS-DEVUELTAs">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="_ARR-PARAMETROS-DEVUELTA">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="_FECHA-ENTRADA">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_FECHA-DOCUMENTO">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_NO-DOCUMENTO-CONTABLE">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="21"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_SOCIEDAD">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_FECHA-DE-CONTABILIZACION">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_CLASE-DOCUMENTO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_NUMERO-DE-POLIZA">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="12"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_REFERENCIA">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="16"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_RAMO-SUBRAMO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="5"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_VALOR-DOCUMENTO">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="13"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element minOccurs="0" name="_EJERCICIO">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:SURADESA-WSSAPLEG">
<xsd:element name="WSSAPLEGResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Respuesta">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="msjRES">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="60"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="NUMERO_TRANSACCION">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WSSAPLEG">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ID-RECIBO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="22"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="RAMO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="plan">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="NU-POLIZA">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="IMPORTE">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="18"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="IMPUESTO">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="10"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="TIPO-RECAUDO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="CONCEPTO-RECAUDO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="FUENTE">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="FE-OPERACION">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="USUARIO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="COMI-ADELANTADA">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="18"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="GASTO-COBRANZA-ADELANTADO">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="18"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="NU-DIAS-CARTERA">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="REC-CAJASAP">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="NU-RECLAMO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="TI-REF-ADICIONAL">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="NU-REF-ADICIONAL">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="22"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="FE-INI-POLIZA">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="FE-FIN-POLIZA">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="REC-STATUS">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="COMENTARIO-RECAUDO">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="PRONTOPAGO">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="18"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="medio-pago">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="DESCUENTO">
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="16"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="DESCRIPCION">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="200"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="TI-ID-TITULAR">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ID-TITULAR">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="23"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="CUADRADVSoapIn">
<wsdl:part name="parameters" element="sn1:CUADRADV"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CVSALPAOSoapOut">
<wsdl:part name="parameters" element="sn3:CVSALPAOResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="WSFASUVISoapIn">
<wsdl:part name="parameters" element="sn4:WSFASUVI"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CARGADEVSoapOut">
<wsdl:part name="parameters" element="sn7:CARGADEVResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CVBENONESoapOut">
<wsdl:part name="parameters" element="sn2:CVBENONEResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="WSSAPLEGSoapOut">
<wsdl:part name="parameters" element="sn8:WSSAPLEGResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CVSALPAOSoapIn">
<wsdl:part name="parameters" element="sn3:CVSALPAO"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CVVALRDISoapOut">
<wsdl:part name="parameters" element="sn6:CVVALRDIResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CVBENONESoapIn">
<wsdl:part name="parameters" element="sn2:CVBENONE"> </wsdl:part>
</wsdl:message>
<wsdl:message name="BORRARDVSoapIn">
<wsdl:part name="parameters" element="sn0:BORRARDV"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CVMOVNVASoapOut">
<wsdl:part name="parameters" element="sn5:CVMOVNVAResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="WSFASUVISoapOut">
<wsdl:part name="parameters" element="sn4:WSFASUVIResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="BORRARDVSoapOut">
<wsdl:part name="parameters" element="sn0:BORRARDVResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CVMOVNVASoapIn">
<wsdl:part name="parameters" element="sn5:CVMOVNVA"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CUADRADVSoapOut">
<wsdl:part name="parameters" element="sn1:CUADRADVResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CVVALRDISoapIn">
<wsdl:part name="parameters" element="sn6:CVVALRDI"> </wsdl:part>
</wsdl:message>
<wsdl:message name="CARGADEVSoapIn">
<wsdl:part name="parameters" element="sn7:CARGADEV"> </wsdl:part>
</wsdl:message>
<wsdl:message name="WSSAPLEGSoapIn">
<wsdl:part name="parameters" element="sn8:WSSAPLEG"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="SURADESAPort">
<wsdl:operation name="BORRARDV">
<wsdl:input message="tns:BORRARDVSoapIn"> </wsdl:input>
<wsdl:output message="tns:BORRARDVSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="CARGADEV">
<wsdl:input message="tns:CARGADEVSoapIn"> </wsdl:input>
<wsdl:output message="tns:CARGADEVSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="CUADRADV">
<wsdl:input message="tns:CUADRADVSoapIn"> </wsdl:input>
<wsdl:output message="tns:CUADRADVSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="CVBENONE">
<wsdl:input message="tns:CVBENONESoapIn"> </wsdl:input>
<wsdl:output message="tns:CVBENONESoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="CVMOVNVA">
<wsdl:input message="tns:CVMOVNVASoapIn"> </wsdl:input>
<wsdl:output message="tns:CVMOVNVASoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="CVSALPAO">
<wsdl:input message="tns:CVSALPAOSoapIn"> </wsdl:input>
<wsdl:output message="tns:CVSALPAOSoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="CVVALRDI">
<wsdl:input message="tns:CVVALRDISoapIn"> </wsdl:input>
<wsdl:output message="tns:CVVALRDISoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="WSFASUVI">
<wsdl:input message="tns:WSFASUVISoapIn"> </wsdl:input>
<wsdl:output message="tns:WSFASUVISoapOut"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="WSSAPLEG">
<wsdl:input message="tns:WSSAPLEGSoapIn"> </wsdl:input>
<wsdl:output message="tns:WSSAPLEGSoapOut"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="SURADESASOAP11Binding" type="tns:SURADESAPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="BORRARDV">
<soap:operation soapAction="BORRARDV"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CARGADEV">
<soap:operation soapAction="CARGADEV"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CUADRADV">
<soap:operation soapAction="CUADRADV"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CVBENONE">
<soap:operation soapAction="CVBENONE"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CVMOVNVA">
<soap:operation soapAction="CVMOVNVA"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CVSALPAO">
<soap:operation soapAction="CVSALPAO"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CVVALRDI">
<soap:operation soapAction="CVVALRDI"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WSFASUVI">
<soap:operation soapAction="WSFASUVI"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WSSAPLEG">
<soap:operation soapAction="WSSAPLEG"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="SURADESASOAP12Binding" type="tns:SURADESAPort">
<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="BORRARDV">
<soap12:operation soapAction="BORRARDV"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CARGADEV">
<soap12:operation soapAction="CARGADEV"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CUADRADV">
<soap12:operation soapAction="CUADRADV"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CVBENONE">
<soap12:operation soapAction="CVBENONE"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CVMOVNVA">
<soap12:operation soapAction="CVMOVNVA"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CVSALPAO">
<soap12:operation soapAction="CVSALPAO"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CVVALRDI">
<soap12:operation soapAction="CVVALRDI"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WSFASUVI">
<soap12:operation soapAction="WSFASUVI"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WSSAPLEG">
<soap12:operation soapAction="WSSAPLEG"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="SURADESA">
<wsdl:port name="SURADESASOAP11Port" binding="tns:SURADESASOAP11Binding">
<soap:address location="http://10.240.3.157:8083/wsstack/services/SURADESA.SURADESASOAP11Port/"/>
</wsdl:port>
<wsdl:port name="SURADESAHttpsSoap12Endpoint" binding="tns:SURADESASOAP12Binding">
<soap12:address location="https://10.240.3.157:8084/wsstack/services/SURADESA.SURADESAHttpsSoap12Endpoint/"/>
</wsdl:port>
<wsdl:port name="SURADESASOAP12Port" binding="tns:SURADESASOAP12Binding">
<soap12:address location="http://10.240.3.157:8083/wsstack/services/SURADESA.SURADESASOAP12Port/"/>
</wsdl:port>
<wsdl:port name="SURADESAHttpsSoap11Endpoint" binding="tns:SURADESASOAP11Binding">
<soap:address location="https://10.240.3.157:8084/wsstack/services/SURADESA.SURADESAHttpsSoap11Endpoint/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>