OSB/ServiciosIntegracionSURA/Bss_ConsultarPoliza/Resources/Bss_ConsultarClienteMaster_BS.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="Bss_ConsultarClienteMaster_BS">RestReference</doc>
   <resources>
      <resource path="/ServMUD/Clientes/ConsultarMaster">
         <method name="GET" soa:name="ConsultarClienteMAster">
            <request>
               <param name="IDENTIFICACION" style="query" type="xsd:string"/>
               <param name="MASTER_ID" style="query" type="xsd:string"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
